﻿@model ML.Cliente

@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <h1 style="margin-top:23px"> <b> Clientes</b></h1>
    <br />
    <h4>Subir archivo</h4>
    @using (Html.BeginForm("Update", "Cliente", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="archivoTXT" />

        <input type="submit" value="Cargar" style="margin-top: 10px; background-color: springgreen; border-color: springgreen" />

        <br />
        <b>@ViewBag.mensaje</b>

    }

    <div class=" row" align="right">
        <div class=" col-md-12 col-sm-3">
            <h4><b> Agregar Cliente</b></h4>
            <a href="@Url.Action("Form", "Cliente")" title="Add" style="padding-right:50px">
                <img style="height: 35px; width: 35px; " src="../../img/agregar.png" />
            </a>
        </div>
    </div>
</div>

<div class="row" style="padding-top:30px">
    @*row para mostrar Asignatura*@
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <tr>
                <th class="text-center" scope="col" style="color:yellowgreen">
                    Editar
                </th>
                <th class="text-center" scope="col">
                    Id Cliente
                </th>
                <th class="text-center" scope="col">
                    RFC
                </th>
                <th class="text-center" scope="col">
                    Numero de Empleado
                </th>
                <th class="text-center" scope="col">
                    Nombre
                </th>
                <th class="text-center" scope="col">
                    Fecha de Control
                </th>
                <th class="text-center" scope="col">
                    Salario
                </th>
                <th class="text-center" scope="col">
                    Descargar registro en formato txt
                </th>
                <th class="text-center" scope="col">
                    Descargar registro en formato xml
                </th>
                <th class="text-center" scope="col" style="color:red">
                    Eliminar
                </th>
            </tr>

            @foreach (ML.Cliente cliente in Model.Clientes)
            {
                <tr>
                    <td class="text-center">
                        <a href="@Url.Action("Form", "Cliente", cliente)" title="Edit">
                            <img style="height: 20px; width: 20px; " src="../../img/edit2.jpg" />
                        </a>
                    </td>

                    <td class="text-center">
                        @cliente.IdCliente
                    </td>

                    <td class="text-center">

                        @cliente.Rfc
                    </td>

                    <td class="text-center">
                        @cliente.NumeroEmpleado

                    </td>
                    <td class="text-center">
                        @cliente.Nombre
                    </td>
                    <td class="text-center">
                        @cliente.FechaDeControl

                    </td>
                    <td class="text-center">
                        @cliente.Salario

                    </td>
                    <th class="text-center">
                        <a href="@Url.Action("DowloandTxt", "Cliente", new { IdCliente = cliente.IdCliente })">
                            <img style="height: 20px; width: 20px" src="../../img/descargar.png" />
                        </a>
                    </th>
                    <th class="text-center">
                        <a href="@Url.Action("DowloandXml", "Cliente", new { IdCliente = cliente.IdCliente })">
                            <img style="height: 20px; width: 20px" src="../../img/descargar.png" />
                        </a>
                    </th>
                    <th class="text-center">
                        <a href="@Url.Action("Delete", "Cliente", new { IdCliente = cliente.IdCliente })" onclick="return confirm('Estas seguro que deseas eliminar estos datos?');">
                            <img style="height: 20px; width: 20px" src="../../img/delete.jpg" />
                        </a>
                    </th>

                </tr>
            }

        </table>

        <div id="1" hidden>
            <p>

            </p>
        </div>


    </div>

</div>
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/jquery.dataTables.css">
<script src="~/Scripts/jquery-3.1.1.min.js"></script>

